

<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Home Page</title>
</head>


<body>

<div class="jumbotron">

	<h1 class="display-4">
		Hello {{ full_name }}
	</h1>

	<p class="lead"> Here is your simple FORM . </p>
	<hr class="my-4">
	<h3> Enter your Details :</h3>
	<div>
		<div class="form-group">
    		<label for="usr">Full Name :</label>
    		<input type="text" class="form-control" id="usr" value="{{ full_name }}">
  		</div>
  		<div class="form-group">
    		<label for="email">Email address:</label>
    		<input type="email" class="form-control" id="email" value="{{ email }}">
  		</div>
  		<div class="form-group">
    		<label for="usr">Mobile Number :</label>
    		<input type="text" class="form-control" id="usr" value="{{ mobile_number }}">
  		</div>

  		<div class="form-group">
  			<label for="sel1">Gender :</label>
  			<select class="form-control" id="sel1">
    			<option>Male</option>
    			<option>Female</option>
    			<option>Other</option>
  			</select>
		  </div>

      <h3> Extras </h3>

      <div class="form-group">
        <label for="sel1">City :</label>
        <select class="form-control" id="sel1">
          {% for extra in extras %}
            <option>{{ extra.location }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="sel1">Languages(Language Code) :</label>
        <select class="form-control" id="sel1" multiple>
          {% for extra in extras %}
            <option>{{ extra.language }}</option>
          {% endfor %}
        </select>
      </div>


	</div>
	
	
</div>

<form method="POST" action="logout">
	{% csrf_token %}
	<input type="submit" name="submit" value="logout">
</form>
</body>

</html>